/* You can add global styles to this file, and also import other style files */
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";
@import "~primeflex/primeflex.css";
$fa-font-path: "../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

body{
  font-family: 'Paprika';
  font-size: 22px;
}
div.main_header{
  text-align: center;
    background-color: navy; 
    color:white;
    //font: ;
    font-family: 'Dancing Script';
    font-size: 22px;

  h3{
    margin: 0em; 
    font-style: normal;
  }
}

